<h2>Editar Usuário</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.label :email %>
  <div class="spaceV" >
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Esperando confirmação: <%= resource.unconfirmed_email %></div>
  <% end %>

  Senha <i>(deixe em branco caso não queria alterá-la)</i>
  <div class="spacev" >
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  Confirmação da senha
  <div class="spacev" >
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  Senha atual <i>(precisamos da sua senha atual para alterações)</i>
  <div class="spacev" >
    <%= f.password_field :current_password, autocomplete: "off", :required => true %>
  </div>

  Ativar recurso anti-spam?
  <div class="spacev" >
    <%= f.radio_button :anti_spam, 0 %><span style="color: white;">Não</span>
    <%= f.radio_button :anti_spam, 1 %><span style="color: white;">Sim</span>
  </div>
  <br/>
  <btn><%= f.submit "Atualizar" %></btn>
  <btn /> <btn />

<% end %>

<br/><br/>
<p><%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Tem certeza?" }, method: :delete %></p>

<%= link_to "Voltar", :back %>

