<link href="/stylesheets/head.css" rel="stylesheet" type="text/css"  />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/rgbcolor.js"></script> 
<script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/canvg.js"></script>

<script type="text/javascript">

<% @sentClassifier = StuffClassifier::Bayes.open("Positive vs Negative") %>

(function($) {
  $.fn.Cloud = function(wrd_arr, opt) {
    var $this = this;
    var name = $this.attr('id') || Math.floor((Math.random()*1000000)).toString(36);
    var dft_opt = {
      width: $this.width(),
      height: $this.height(),
      center: {
        x: ((opt && opt.width) ? opt.width : $this.width()) / 2.0,
        y: ((opt && opt.height) ? opt.height : $this.height()) / 2.0
      },
      shape: false,
      encodeURI: true,
      removeOverflowing: true
    };

    opt = $.extend(dft_opt, opt || {});

    $this.addClass("jqcloud").width(opt.width).height(opt.height);

    if ($this.css("position") === "static") {$this.css("position", "relative");}

    var create = function() {
      var test = function(elem, other_elems) {
        var loop = function(a, b) {
          if (Math.abs(2.0*a.offsetLeft + a.offsetWidth - 2.0*b.offsetLeft - b.offsetWidth) < a.offsetWidth + b.offsetWidth) {
            if (Math.abs(2.0*a.offsetTop + a.offsetHeight - 2.0*b.offsetTop - b.offsetHeight) < a.offsetHeight + b.offsetHeight) {
              return true;
            }
          }
          return false;
        };
        var i = 0;
        for(i = 0; i < other_elems.length; i++) {
          if (loop(elem, other_elems[i])) {
            return true;
          }
        }
        return false;
      };

      for (var i = 0; i < wrd_arr.length; i++) {
        wrd_arr[i].weight = parseFloat(wrd_arr[i].weight, 10);
      }

      wrd_arr.sort(function(a, b) { if (a.weight < b.weight) {return 1;} else if (a.weight > b.weight) {return -1;} else {return 0;} });

      var step = (opt.shape === "rectangular") ? 18.0 : 2.0, already_placed_words = [], aspect_ratio = opt.width / opt.height;

      var create_one = function(idx, word) {
        var word_id = name + "_word_" + idx,
            angle = 6.28 * Math.random(),
            word_selector = "#" + word_id,
            radius = 0.0,
            weight = 5,
            inner_html = "",
            color = 'yellow',
            word_span;
            steps_in_direction = 0.0,
            quarter_turns = 0.0,            

        word.html = $.extend(word.html, {id: word_id});

        if (word.html && word.html["class"]) {
          color = word.html["class"];
          delete word.html["class"];
        }

        if (wrd_arr[0].weight > wrd_arr[wrd_arr.length - 1].weight) {
          weight = Math.round((word.weight - wrd_arr[wrd_arr.length - 1].weight) /
                              (wrd_arr[0].weight - wrd_arr[wrd_arr.length - 1].weight) * 9.0) + 1;
        }
        word_span = $('<span>').attr(word.html).addClass('w' + weight + " " + color);
        inner_html = word.text;
        word_span.append(inner_html);

        if (!!word.handlers) {
          for (var prop in word.handlers) {
            if (word.handlers.hasOwnProperty(prop) && typeof word.handlers[prop] === 'function') {
              $(word_span).bind(prop, word.handlers[prop]);
            }
          }
        }

        $this.append(word_span);

        var width = word_span.width(),
            left = opt.center.x - width / 2.0,
            height = word_span.height(),
            top = opt.center.y - height / 2.0;

        var style = word_span[0].style;
        style.color = word.color;
        style.left = left + "px";
        style.position = "absolute";
        style.top = top + "px";
        

        while(test(word_span[0], already_placed_words)) {
          if (opt.shape === "rectangular") {
            steps_in_direction++;
            if (steps_in_direction * step > (1 + Math.floor(quarter_turns / 2.0)) * step * ((quarter_turns % 4 % 2) === 0 ? 1 : aspect_ratio)) {
              steps_in_direction = 0.0;
              quarter_turns++;
            }
            switch(quarter_turns % 4) {
              case 1:
                left += step * aspect_ratio + Math.random() * 2.0;
                break;
              case 2:
                top -= step + Math.random() * 2.0;
                break;
              case 3:
                left -= step * aspect_ratio + Math.random() * 2.0;
                break;
              case 0:
                top += step + Math.random() * 2.0;
                break;
            }
          } else { 
            radius += step;
            angle += (idx % 2 === 0 ? 1 : -1)*step;

            left = opt.center.x - (width / 2.0) + (radius*Math.cos(angle)) * aspect_ratio;
            top = opt.center.y + radius*Math.sin(angle) - (height / 2.0);
          }
          style.left = left + "px";
          style.top = top + "px";
        }

        if (opt.removeOverflowing && (left < 0 || top < 0 || (left + width) > opt.width || (top + height) > opt.height)) {
          word_span.remove()
          return;
        }

        already_placed_words.push(word_span[0]);

        if ($.isFunction(word.afterWordRender)) {
          word.afterWordRender.call(word_span);
        }
      };
        $.each(wrd_arr, create_one);
        if ($.isFunction(opt.afterCloudRender)) {
          opt.afterCloudRender.call($this);
        }
    };

    setTimeout(function(){
      create();
    }, 10);
    
    return $this;
  };
})(jQuery);

var wrd_arr = [
          {text: '<%= session[:tag_cloud_words][0] ? session[:tag_cloud_words][0][0] : '' %>', weight: 20,
              color: '<%= session[:tag_cloud_words][0] ? @sentClassifier.classify_tagword(session[:tag_cloud_words][0][0]) : "yellow" %>'},

          {text: '<%= session[:tag_cloud_words][1] ? session[:tag_cloud_words][1][0] : ''%>', weight: 19, 
              color: '<%=  session[:tag_cloud_words][1] ? @sentClassifier.classify_tagword(session[:tag_cloud_words][1][0]) : "yellow"%>'},

          {text: '<%= session[:tag_cloud_words][2] ? session[:tag_cloud_words][2][0] : ''%>', weight: 18,
              color: '<%= session[:tag_cloud_words][2] ? @sentClassifier.classify_tagword(session[:tag_cloud_words][2][0]) : "yellow"%>'},

          {text: '<%= session[:tag_cloud_words][3] ? session[:tag_cloud_words][3][0] : ''%>', weight: 17,
              color: '<%= session[:tag_cloud_words][3] ? @sentClassifier.classify_tagword(session[:tag_cloud_words][3][0]) : "yellow"%>'},

          {text: '<%= session[:tag_cloud_words][4] ? session[:tag_cloud_words][4][0] : ''%>', weight: 16,
              color: '<%= session[:tag_cloud_words][4] ? @sentClassifier.classify_tagword(session[:tag_cloud_words][4][0]) : "yellow"%>'},

          {text: '<%= session[:tag_cloud_words][5] ? session[:tag_cloud_words][5][0] : ''%>', weight: 15,
              color: '<%= session[:tag_cloud_words][5] ? @sentClassifier.classify_tagword(session[:tag_cloud_words][5][0]) : "yellow"%>'},

          {text: '<%= session[:tag_cloud_words][6] ? session[:tag_cloud_words][6][0] : ''%>', weight: 14,
              color: '<%= session[:tag_cloud_words][6] ? @sentClassifier.classify_tagword(session[:tag_cloud_words][6][0]) : "yellow"%>'},

          {text: '<%= session[:tag_cloud_words][7] ? session[:tag_cloud_words][7][0] : ''%>', weight: 13,
              color: '<%= session[:tag_cloud_words][7] ? @sentClassifier.classify_tagword(session[:tag_cloud_words][7][0]) : "yellow"%>'},

          {text: '<%= session[:tag_cloud_words][8] ? session[:tag_cloud_words][8][0] : ''%>', weight: 12,
              color: '<%= session[:tag_cloud_words][8] ? @sentClassifier.classify_tagword(session[:tag_cloud_words][8][0]) : "yellow"%>'},

          {text: '<%= session[:tag_cloud_words][9] ? session[:tag_cloud_words][9][0] : ''%>', weight: 11,
              color: '<%= session[:tag_cloud_words][9] ? @sentClassifier.classify_tagword(session[:tag_cloud_words][9][0]) : "yellow"%>'},

          {text: '<%= session[:tag_cloud_words][10] ? session[:tag_cloud_words][10][0] : ''%>', weight: 10,
              color: '<%= session[:tag_cloud_words][10] ? @sentClassifier.classify_tagword(session[:tag_cloud_words][10][0]) : "yellow"%>'},

          {text: '<%= session[:tag_cloud_words][11] ? session[:tag_cloud_words][11][0] : ''%>', weight: 9,
              color: '<%= session[:tag_cloud_words][11] ? @sentClassifier.classify_tagword(session[:tag_cloud_words][11][0]) : "yellow"%>'},

          {text: '<%= session[:tag_cloud_words][12] ? session[:tag_cloud_words][12][0] : ''%>', weight: 8,
              color: '<%= session[:tag_cloud_words][12] ? @sentClassifier.classify_tagword(session[:tag_cloud_words][12][0]) : "yellow"%>'},

          {text: '<%= session[:tag_cloud_words][13] ? session[:tag_cloud_words][13][0] : ''%>', weight: 7,
              color: '<%= session[:tag_cloud_words][13] ? @sentClassifier.classify_tagword(session[:tag_cloud_words][13][0]) : "yellow"%>'},

          {text: '<%= session[:tag_cloud_words][14] ? session[:tag_cloud_words][14][0] : ''%>', weight: 6,
              color: '<%= session[:tag_cloud_words][14] ? @sentClassifier.classify_tagword(session[:tag_cloud_words][14][0]) : "yellow"%>'},

          {text: '<%= session[:tag_cloud_words][15] ? session[:tag_cloud_words][15][0] : ''%>', weight: 5,
              color: '<%= session[:tag_cloud_words][15] ? @sentClassifier.classify_tagword(session[:tag_cloud_words][15][0]) : "yellow"%>'},

          {text: '<%= session[:tag_cloud_words][16] ? session[:tag_cloud_words][16][0] : ''%>', weight: 4,
              color: '<%= session[:tag_cloud_words][16] ? @sentClassifier.classify_tagword(session[:tag_cloud_words][16][0]) : "yellow"%>'},

          {text: '<%= session[:tag_cloud_words][17] ? session[:tag_cloud_words][17][0] : ''%>', weight: 3,
              color: '<%= session[:tag_cloud_words][17] ? @sentClassifier.classify_tagword(session[:tag_cloud_words][17][0]) : "yellow"%>'},

          {text: '<%= session[:tag_cloud_words][18] ? session[:tag_cloud_words][18][0] : ''%>', weight: 2,
              color: '<%= session[:tag_cloud_words][18] ? @sentClassifier.classify_tagword(session[:tag_cloud_words][18][0]) : "yellow"%>'},

          {text: '<%= session[:tag_cloud_words][19] ? session[:tag_cloud_words][19][0] : ''%>', weight: 1,
              color: '<%= session[:tag_cloud_words][19] ? @sentClassifier.classify_tagword(session[:tag_cloud_words][19][0]) : "yellow"%>'}
      ];

$(function() {
  $("#tag-cloud").Cloud(wrd_arr);
});


$(document).ready(function() {
      
  $('#piechart').highcharts({
      chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          backgroundColor: null
      },
      title: {
          text: 'Gráfico de seções - avaliações positivas, negativas e neutras',
          color: 'black'
      },
      tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
      },
      plotOptions: {
          pie: {
              allowPointSelect: true,
              cursor: 'pointer',
              dataLabels: {
                  enabled: true,
                  color: 'black',
                  connectorColor: '#000000',
                  formatter: function() {
                      return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
                  }
              }
          }
      },
      series: [{
          type: 'pie',
          data: [
              {
                  name: 'Positivos',
                  y: <%= session[:positives] %>,
                  selected: true,
                  color: 'green'
              },
              {
                  name: 'Negativos',
                  y: <%= session[:negatives] %>,
                  color: 'red'
              },
              {
                  name: 'Neutros',
                  y: <%= session[:neutros] %>,
                  color: 'gray'
              },
              <% if user_signed_in? and current_user.anti_spam == 1 %>
              {
                  name: 'Spams',
                  y: <%= session[:spams] %>,
                  color: 'brown'
              }
              <% end %>
          ]
      }]
  });
      
    $('#barchart').highcharts({
          chart: {
              type: 'bar'
          },
          title: {
              text: 'Gráfico de Barras - Avaliações positivas, negativas e neutras'
          },
          subtitle: {
              text: 'Pesquisa: <%= session[:product] %>'
          },
          xAxis: {
              <% if user_signed_in? and current_user.anti_spam == 1 %>
                categories: ['Positivos', 'Negativos', 'Neutros', 'Spams'],
              <% else %>
                categories: ['Positivos', 'Negativos', 'Neutros'],
              <% end %>
              title: {
                  text: null
              }
          },
          yAxis: {
              min: 0,
              title: {
                  text: 'Tweets',
                  align: 'high'
              },
              labels: {
                  overflow: 'justify'
              }
          },
          tooltip: {
              valueSuffix: ' Comentários'
          },
          plotOptions: {
              bar: {
                  dataLabels: {
                      enabled: true
                  }
              }
          },
          legend: {
              layout: 'vertical',
              align: 'right',
              verticalAlign: 'top',
              x: -40,
              y: 100,
              floating: true,
              borderWidth: 1,
              backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor || '#FFFFFF'),
              shadow: true
          },
          credits: {
              enabled: false
          },
          series: [{
              name: 'Tweets',
              <% if user_signed_in? and current_user.anti_spam == 1 %>
                data: [<%= session[:positives] %>, <%= session[:negatives] %>, <%= session[:neutros] %>, <%= session[:spams] %>]
              <% else %>
                data: [<%= session[:positives] %>, <%= session[:negatives] %>, <%= session[:neutros] %>]
              <% end %>
          }]
      });
    });
</script>

</script>

<div class="row">
  <div class="col-lg-12" style="margin-top: 45px;">
    <h1>Gráficos do resultado</h1>
  </div>
</div>

<h3 align="center"> Nuvem de palavras </h3>
<div id="tag-cloud" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<br /><br/>
<div id="piechart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<br /><br/>
<div id="barchart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
