<script type="text/javascript" src="/bootstrap-3.1.1-dist/js/bootbox.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
      $('#delete_favoriteds_id').click(function() {
        $.ajax({
          type: 'GET',
          url: '/project/delete_favoriteds',
          success: function(output){
            bootbox.confirm('Tem certeza que deseja deletar todos os favoritados?', function(result) {
              if (result) {
                  bootbox.alert('Favoritados deletados com sucesso!', function(){window.location.reload()});
              }
            });
          }
        });
      });
    });
</script>


<div class="row">
  <div class="col-lg-12">
    <h1>Lista tweets classificados como bons ao usu치rio <small> <%= current_user.email %></small></h1>
  </div>
</div>

<% if count_rows_favoriteds.to_i < 5 %>
  <div class="col-lg-12">
    <h3> Para habilitar o recurso de autom치tico anti-spam, marque mais <%= 5-count_rows_favoriteds.to_i %> favoritos!</h3>
    <br />
  </div>
<% else %>
  <div class="col-lg-12">
    <h3> Utilizando recurso autom치tico de anti-spam com base nos favoritados abaixo:!</h3>
    <br />
  </div>
<% end %>

<div class="row">

  <div id="content" style="text-align:left;margin-left: 5%;">

  	 <% sql = "SELECT * FROM favoriteds WHERE user = '#{current_user.email}';" %>

     <% posts_array = ActiveRecord::Base.connection.select_all(sql) %>

		 <% posts_array.each do |row| %>

        <% if current_user.email == row["user"] %>
     		 	<h3><%= row["query"] %></h3>
     		 	<h4><small> <%= row["user"] %> </small></h4>
     		 	<%= row["post"] %>
     		 	<br /><br />
        <% end %>
		 <%	end %>


    <button type="button" id="delete_favoriteds_id" class="btn btn-primary pull-left">
      Deletar favoritos salvos deste usu치rio
    </button>

  </div>

  

</div>