<script type="text/javascript">
    $(document).ready(function(){
      $('#delete_favoriteds_id').click(function() {
        $.ajax({
          type: 'GET',
          url: '/project/delete_favoriteds',
          success: function(output){
            window.location.reload();
            alert('Não Spams deletados com sucesso!');
            console.log(output);
          }
        });
      });
    });
</script>


<div class="row">
  <div class="col-lg-12">
    <h1>Lista tweets classificados como bons ao usuário <small> <%= current_user.email %></small></h1>
  </div>
</div>

<% if count_rows_favoriteds.to_i < 5 %>
  <div class="col-lg-12">
    <h3> Para habilitar o recurso de anti-spam, marque mais <%= 5-count_rows_favoriteds.to_i %> favoritos!</h3>
    <br />
  </div>
<% end %>

<div class="row">

  <div id="content" style="text-align:left;margin-left: 5%;">

  	 <% sql = "SELECT * FROM favoriteds WHERE user = '#{current_user.email}';" %>

     <% posts_array = ActiveRecord::Base.connection.select_all(sql) %>

		 <% posts_array.each do |row| %>

        <% if current_user.email == row["user"] %>
     		 	<h3><%= row["query"] %></h3>
     		 	<h4><small> <%= row["user"] %> </small></h4>
     		 	<%= row["post"] %>
     		 	<br /><br />
        <% end %>
		 <%	end %>


    <button type="button" id="delete_favoriteds_id" class="btn btn-primary pull-left">
      Deletar não-spams salvos deste usuário
    </button>

  </div>

  

</div>