
<% @tweets = classify_spam %>
<% @tweets_spams = get_spams_tweets %>

<div class="row">
  <div class="col-lg-12">
    <h1>Tweets no momento sobre <small> <%= session[:product] %> </small></h1>
  </div>
</div>

<div class="row">

  <div class="col-lg-3">
      <div class="panel panel-success">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <i class="fa fa-thumbs-up fa-5x"></i>
            </div>
            <div class="col-xs-6 text-right">
              <p class="announcement-heading"><%= session[:positives] %></p>
              <p class="announcement-text">Positivos!</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="col-lg-3">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <i class="fa fa-thumbs-down fa-5x"></i>
            </div>
            <div class="col-xs-6 text-right">
              <p class="announcement-heading"><%= session[:negatives] %></p>
              <p class="announcement-text">Negativos!</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="col-lg-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <i class="fa fa-comments fa-5x"></i>
            </div>
            <div class="col-xs-6 text-right">
              <p class="announcement-heading"><%= session[:neutros] %></p>
              <p class="announcement-text">Neutros!</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  <% if user_signed_in? and current_user.anti_spam == 1 %>
    <div class="col-lg-3">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <i class="fa fa-bug fa-5x"></i>
            </div>
              <div class="col-xs-6 text-right">
                <p class="announcement-heading"><%= get_spams_detected %></p>
                <p class="announcement-text">Spam(s) Detectado(s)!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  <% end %>
  </div>
  
  <div class="row">

    <% @favoriteds = Array.new  %>
    <% sql = "SELECT post FROM favoriteds;" %>
    <% favoriteds_array = ActiveRecord::Base.connection.select_all(sql) %>

    <% favoriteds_array.each do |row| %>
        <% @favoriteds << row["post"] %>
     <% end %>

    <% for i in (0..@tweets.length-1).step(5) %>

      <% if (@tweets[i+4]).include?('negative') %>
        <div class="panel panel-body panel-default" style="background-color:#FFB2B2;">
      <% elsif (@tweets[i+4]).include?('positive') %>
        <div class="panel panel-body panel-default" style="background-color:#B8ff70;">
      <% elsif (@tweets[i+4]).include?('neutro') %>
        <div class="panel panel-body panel-default" style="background-color:#B2B2B2;">
      <% end %>

          <div class="col-lg-2 h4" style="float: left; height: 100px;">

                <img src=<%= @tweets[i+3] %>>
                <p></p>
                <p><strong><%= @tweets[i] %></strong></p>
          </div>
          <div class="col-lg-10 well h4" style="float: left;">

                <%= @tweets[i+1] %>
          </div>
          <div class="col-lg-2 well well-sm " style="background-color:#373737;color: white; width: 150px; float: left;">

                <%= @tweets[i+2] %>
          </div>

          <div class="col-lg-2 well well-sm " style="background-color: purple; color: white; width: 100px; float: right;">
            <%= (@tweets[i+4]).include?('negative') ? "Negativo" : 
               (@tweets[i+4]).include?('positive') ? "Positivo" : "Neutro"
            %>
          </div>
        
          <% if user_signed_in? and current_user.anti_spam == 1 %>

              <% if @favoriteds.include? filter(@tweets[i+1])  %>
                <button type="button" id="<%= "favorited"+i.to_s %>" class="btn btn-success pull-right disabled" aria-hidden="true">
                Favoritado!
              <% else %>
                <button type="button" id="<%= "addTweetFavBtn"+i.to_s %>" class="btn btn-success pull-right" aria-hidden="true">
                Boa opinião!
              <% end %>
                
              </button>

              <button type="button" id="<%= "reportSpamBtn"+i.to_s %>" class="btn btn-primary pull-right" aria-hidden="true" data-dismiss="alert">
                Assumir Spam
              </button>
              
              <script>
                $(document).ready(function(){
                  $('#<%= "reportSpamBtn"+i.to_s %>').click(function() {
                    $.ajax({
                      type: 'GET',
                      url: '/project/add_spam',
                      data: { post: '<%= filter(@tweets[i+1]) %>' },
                      success: function(output){
                        console.log(output);
                      }
                    });
                  });

                  $('#<%= "addTweetFavBtn"+i.to_s %>').click(function() {
                    $.ajax({
                      type: 'GET',
                      url: '/project/add_favorited',
                      data: { post: '<%= filter(@tweets[i+1]) %>' },
                      success: function(output){
                        console.log(output);
                      }
                    });
                  });
                });
              </script>

          <% end %>

      </div>
          
    <% end %>
    
    <% for i in (0..@tweets_spams.length-1).step(5) %>

      <!-- <div class="panel panel-body panel-default" style="background-color:#B2B2B2;"> -->
      <div class="panel panel-body panel-default" style="background-color:brown;">
      <!-- <div class="panel panel-body panel-default" style="background-color:#B8ff70;"> -->
          <div class="col-lg-2 h4">

                <img src=<%= @tweets_spams[i+3] %>>
                <p /><strong><%= @tweets_spams[i] %></strong></p>
          </div>
          <div class="col-lg-10 well h4" >

                <%= @tweets_spams[i+1] %>
          </div>
          <div class="col-lg-2 well well-sm " style="background-color:#373737;color: white;">

                <%= @tweets_spams[i+2] %>
          </div>

      </div>
          
    <% end %>

  </div>
</div>

